@use 'reset';
@use 'vars';

body, html, #root, .app {
  font-family: 'Poppins', sans-serif;
  background-color: vars.$firstColor;
  width: 100vw;
  height: 100%;
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: vars.$thirdColor;
    font-family: 'Poppins', sans-serif;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: vars.$thirdColor;
    font-family: 'Poppins', sans-serif;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: vars.$thirdColor;
    font-family: 'Poppins', sans-serif;
  }
}
.main-container{
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100%;
  margin-bottom: -75px; 
}
.main-container:after{
  content: "";
  display: block;
}
// fontawesome icons (menu burger, cross to close menu)
.fas {
  font-size: 1.3rem;
  font-weight: 300;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
