@use 'reset';
@use 'vars';

body, html, #root, .app {
  font-family: sans-serif;
  background-color: vars.$firstColor;
  width: 100vw;
  //height: 100%;
}

// fontawesome icons (menu burger, cross to close menu)
.fas {
  font-size: 1.3rem;
  font-weight: 300;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
