.app {
  width: 100%;

}

// DESKTOP LAYOUT
@media screen and (min-width: 700px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    // height: 100vh;
  }
}

