@use 'src/styles/vars';

.autocompletion-city{
    cursor: pointer;
    position: relative;
    &__hidden-parts{
        display: none;
        visibility: hidden;
    }
    &__ul{
        width: 100%;
        background-color: vars.$fifthColor;
        color: vars.$fourthColor;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &__li{
            border-bottom: solid 1px vars.$fourthColor;
            padding: 10px;
        }
    }
}
.signup__localisation{
    display: flex;
}
