@use 'src/styles/vars';

// MOBILE
@media screen and (max-width: 700px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    &--title {
      color: vars.$fourthColor;
      font-size: 1.3rem;
      margin-top: 8rem;
      margin-bottom: 1rem;
      font-style: italic;
      font-weight: bold;
    }
    &__us {
      color: vars.$secondColor;
      width: 85%;
      margin-top: 1rem;
      &--title {
        font-style: italic;
        text-align: center;
        margin-bottom: 2rem;
      }
      &__img {
       display: flex;
       flex-direction: row;
       justify-content: center;
       flex-wrap: wrap;
       width: 100%;
        &--one {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-right: 20px;
        margin-bottom: 5px;
        }
      }
    }
    &__container {
      line-height: 130%;
      text-align: center;
      width: 100%;
      color: vars.$fourthColor;
      position: relative;
      display: flex;
      word-break: break-word;
      font-size: 0.9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      &--btn {
        height: fit-content;
        padding: 0.8rem;
        background-color: vars.$thirdColor;
        border-radius: vars.$borderRadius;
        color: vars.$fourthColor;
        font-size: 1rem;
      }
    }
    &__text{
      margin: 0 auto;
      padding: 0.3rem 2rem;
      width: 100%;
      font-size: 1rem;
      color: vars.$fourthColor;
      text-align: center;
    }
    &__img{
      width: 100%;
      margin: auto;
    }
    &__text-container{
      width: 80%;
      margin: auto;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      padding: 1rem;
      background-color: #14171abf;
      padding-bottom: 1rem;
    }
    &--link{
      font-size: 1rem;
    }
    &__desc {
      color: vars.$fourthColor;
      width: 85%;
      font-size: 0.9rem;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-style: italic;
    }
  }
}   




// DESKTOP
@media screen and (min-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 9rem;
    &--title {
      width: 100%;
      text-align: center;
      color: vars.$fourthColor;
      font-size: 2.5rem;
      // margin-top: 10rem;
      margin-bottom: 3rem;
      font-style: italic;
      font-weight: bold;
    }
    &__us {
      color: vars.$secondColor;
       margin-top: 3rem;
      &--title {
        font-style: italic;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.5rem;
      }
      &__img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &--one {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-right: 15px;
          margin-bottom: 3rem;
        }
      }
    }
    &__container {
      margin: auto;
      text-align: center;
      color: vars.$fourthColor;
      word-break: break-word;
      font-size: 1.2rem;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    &__text{
      margin: 1rem auto;
      padding: 0.7rem 2rem;
      width: 100%;
      font-size: 1rem;
      color: vars.$fourthColor;
      text-align: center;
    }
    &__img{
      width: 100%;
      max-height: 500px;
      display: block;
      object-fit: cover;
      margin: auto;
    }
    &__text-container{
      width: 60%;
      margin: auto;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      background-color: #14171abf;
      padding-bottom: 1rem;
    }
    &--link{
      font-size: 1rem;
    }
    &__desc {
      color: vars.$fourthColor;
      font-size: 1.2rem;
      text-align: center;
      font-style: italic;
      margin: 30px 150px 50px 150px;
    }
    &__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &--btn {
          //) height: fit-content;
          text-align: center;
          background-color: vars.$thirdColor;
          border-radius: vars.$borderRadius;
          color: vars.$fourthColor;
          padding: 1rem;
          font-size: 1.5rem;
      }
    }
    
  }
}

@media screen and (min-width: 1400px) {
  .about{
    &__container{
      position: relative;
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }
    &__img{
      width: 100%;
      max-height: 500px;
      display: block;
      object-fit: cover;
      margin: auto;
    }
    &__text-container{
      width: 60%;
      margin: auto;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      background-color: #14171abf;
      padding: 2rem;
    }
    &__text{
      margin: 0 auto;
      padding: 0.7rem 2rem;
      width: 100%;
      font-size: 1rem;
      color: vars.$fourthColor;
      text-align: center;
    }
    &__title{
      margin: 0 auto;
      padding: 2rem;
      width: 100%;
      font-size: 1.4rem;
      font-weight: bold;
      color: vars.$fourthColor;
      text-align: center;
    }
    &--link{
      font-size: 1rem;
      text-align: center;
      color: vars.$fourthColor;
      background: linear-gradient(to right, rgba(29,162,242,1),rgba(255,254,254,1),rgba(29,162,242,1));
      background-size: 200% 200%;
      animation: moove 4s ease-in-out infinite;
      background-clip: text;
      -webkit-background-clip:text;
      transition: color 0.4s ease-in-out;
      &:hover{
        color: rgba(0, 0, 0, 0);
  
      }
    }
  }
}

