.autocompletion-city{
    cursor: pointer;
    position: relative;
    &__hidden-parts{
        display: none;
        visibility: hidden;
    }
    &__ul{
        width: 100%;
        background-color: #fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &__li{
            border-bottom: solid 1px #ccc;

        }
    }
}
.signup__localisation{
    display: flex;
}