@use 'src/styles/vars';
// MOBILE
@media screen and (max-width: 700px) {
  .contact-submit{
    &__container{
      width: 100%;
      height: 70vh;
      margin-top: 12rem;
  }
  &__title{
    text-align: center;
    font-size: 1.5rem;
    color: vars.$fourthColor;
  }
  &__form{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 20%;
      margin-top: 1rem;
  }
  &__group{
    margin-bottom: 1rem;
    &__message{
      margin-top: 1rem;
    }
  }
  }
}



// Just for the example DESKTOP
.contact-submit{
  &__container{
      width: 100%;
      height: 70vh;
      margin-top: 12rem;
  }
  &__title{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(245, 236, 236);
  }
  &__form{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  &__group{
    margin-bottom: 1rem;
    &__message{
      margin-top: 1rem;
    }
  }

}



