@use 'src/styles/vars';

.search {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: .5rem .5rem;
  background-color: vars.$secondColor;
  border-radius: vars.$borderRadius;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;

    &--title {
      font-size: 1.5rem;
      color: vars.$fourthColor;
    }
  }

  &__launch {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__form {
    width: 100%;
    margin: 1rem 0;

    &__search-input {
      width: 100%;
      padding: 1em 1.5em;
      margin: 1rem 0;
    }

    &-filters {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      &__select {
        width: 100%;
        padding: 0 1em;
        margin: 1rem 0;
      }
    }
  }
  
  &__button {
    padding: 0 1em;
    margin: 0 1rem;
    border: none;
    width: 50%;
    &__container {
      display: flex;
      justify-content: space-around;
    }
    &--launch {
      background-color: vars.$thirdColor;
      color: vars.$fourthColor;
      height: 40px;
      font-size: 1.2rem;
      border-radius: vars.$borderRadius;
      padding: 0 1em;
      border: none;
      margin: 1rem auto;
    }
  }
}

.search__form__search-input, 
.search__form-filters__select,
.search__button {
  height: 45px;
  font-size: 1.2rem;
  border-radius: vars.$borderRadius;
  background-color: vars.$fourthColor;
  border: solid 1px vars.$thirdColor;
  color: vars.$thirdColor;
}

@media screen and (max-width: 700px) {
  .search {
    width: 90%;
  }
}
