// Just for the example
.header {
  width: 100%;
  padding: 1rem 3rem;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  justify-content: flex-end
}

li {
  margin: 15px 0px 20px 15px;
  list-style: none;
}
