@media screen and (max-width: 700px) {
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 3rem;
    border-bottom: 1px solid black;

    &__menu-btn {
      display: inline-block;
      border: none;
      cursor: pointer;
      background: none;
      appearance: none;
      color: black;
    }
  }

  .bandify__logo {
    width: 100px;
  }
}

ul {
  display: flex;
  justify-content: flex-end
}

li {
  margin: 15px 0px 20px 15px;
  list-style: none;
}
