@use 'src/styles/vars';

// MOBILE LAYOUT
@media screen and (max-width: 600px) {
  .main {
    margin-top: 3rem;
    height: auto;
    width: 100vw;
  }

  .myprofile {
    &__desc {
      margin: 0 auto;
      padding: 2rem;
      width: 100%;
      font-size: 1.4rem;
      color: vars.$thirdColor;
      text-align: center;
      &--teasing {
        color: vars.$thirdColor;
        margin: 2rem auto;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    &__delete-btn {
      &--container {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
    }
    &__signup {
      &--btn {
        width: 60%;
        margin: 0 auto;
        background-color: vars.$thirdColor;
        color: vars.$fourthColor;
        padding: 1rem;
        border-radius: vars.$borderRadius;
      }
    }
    &__cards {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 5rem auto 0;
      &--users {
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        padding: 1rem;
        background-color: vars.$secondColor;
        border-radius: vars.$borderRadius;
      }
    }
    &__user {
      &--picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      &--delete-btn {
        background-color: vars.$fifthColor;
        border: none;
        border-radius: vars.$borderRadius;
        color: vars.$fourthColor;
        padding: 1rem;
        margin: 1rem;
        height: 50px;
        }
      &--picture-desc {
        color: vars.$fourthColor;
        margin: 1rem;
        font-weight: bold;
      }
      &--picture-form {
        width: 200px;
        margin: 1rem;
      }
      &--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &--name, &--age, &--email, &--description {
        color: vars.$fourthColor;
        font-weight: bold;
      }
      &--description-details {
        font-weight: normal;
      }
      &--short {
        color: vars.$fourthColor;
        margin: auto 1rem;
        font-weight: bold;
      }
      &--description {
        color: vars.$fourthColor;
        margin: 1rem 0;
        font-weight: bold;
        text-align: left;
      }
      &--description-title {
        margin-bottom: 1rem;
      }
      &--description-content {
        font-weight: normal;
      }
      &--add-btn {
        background-color: vars.$thirdColor;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      color: vars.$fourthColor;
      }
      &--avatar {
        position: relative;
      }
      &--edit-photo {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 70%;
        top: 0%;
      }
      &--edit-age, &--edit-city, &--edit-email, &--edit-name, &--edit-description, &--edit-instruments, &--edit-styles {
        background-color: transparent;
        border: none;
      }
    }
    &__instrument {
      color: vars.$fourthColor;
      &--description {
        margin: 1rem auto;
        font-weight: bold;
      }
      &__tag {
        background-color: vars.$thirdColor;
        display: inline-block;
        padding: 0.3rem;
        margin: 0.3rem 0.3rem 0.3rem 0;
        border-radius: vars.$borderRadius;
        &--name {
          padding-right: 0.3rem;
        }
        &--level {
          background-color: vars.$fourthColor;
          color: vars.$thirdColor;
          font-size: 0.8rem;
          padding: 0.2rem;
          border-radius: vars.$borderRadius;
        }
      }
    }
    &__style {
      color: vars.$fourthColor;
      &--description {
        margin: 1rem 0;
        font-weight: bold;
      }
      &__tag {
        background-color: vars.$thirdColor;
        display: inline-block;
        padding: 0.3rem;
        margin: 0.3rem 0.3rem 0.3rem 0;
        border-radius: vars.$borderRadius;
      }
    }
    &__friend {
      background-color: vars.$firstColor;
      color: vars.$fourthColor;
      margin-bottom: 1rem;
      padding: .5em 1em;
      border-radius: vars.$borderRadius;
      &--description {
        margin: 1rem 0;
        font-weight: bold;
        color: vars.$fourthColor;
      }
      &--picture {
        width:75px;
        height: 75px;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }
    } 
}

.edit {
  &__password {
    &--btn {
      background-color: vars.$thirdColor;
      border: none;
      border-radius: vars.$borderRadius;
      color: vars.$fourthColor;
      padding: 1rem;
      margin: 1rem;
    }
  }
}

.fa-pen, .fa-times-circle {
  color: #1DA1F2;
  background-color: vars.$firstColor;
  padding: .5rem;
  border-radius: 50%;
}

// DESKTOP LAYOUT
@media screen and (min-width: 600px) {
  .main {
    margin-top: 3rem;
    height: auto;
    width: 100vw;
  }

  .myprofile {
    font-size: 1.3rem !important;
    &__desc {
      margin: 0 auto;
      padding: 2rem;
      width: 100%;
      font-size: 1.4rem;
      color: vars.$thirdColor;
      text-align: center;
      &--teasing {
        color: vars.$thirdColor;
        margin: 2rem auto;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    &__delete-btn {
      &--container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
    }
    &__signup {
      &--btn {
        width: 60%;
        margin: 0 auto;
        background-color: vars.$thirdColor;
        color: vars.$fourthColor;
        padding: 1rem;
        border-radius: vars.$borderRadius;
      }
    }
    &__cards {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 8rem auto 0;
      &--users {
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        padding: 1rem;
        background-color: vars.$secondColor;
        border-radius: vars.$borderRadius;
      }
    }
    &__user {
      &--picture {
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
      &--delete-btn {
        background-color: vars.$fifthColor;
        border: none;
        border-radius: vars.$borderRadius;
        color: vars.$fourthColor;
        padding: 1rem;
        margin: 1rem;
        height: 50px;
        }
      &--picture-desc {
        color: vars.$fourthColor;
        margin: 1rem;
        font-weight: bold;
      }
      &--picture-form {
        width: 200px;
        margin: 1rem;
      }
      &--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
      }
      &--name, &--age, &--email, &--description {
        color: vars.$fourthColor;
        font-weight: bold;
      }
      &--description-details {
        font-weight: normal;
      }
      &--short {
        color: vars.$fourthColor;
        margin: auto 1rem;
        font-weight: bold;
      }
      &--description {
        color: vars.$fourthColor;
        margin: 1rem 0;
        font-weight: bold;
        text-align: left;
      }
      &--description-title {
        margin-bottom: 1rem;
      }
      &--description-content {
        font-weight: normal;
      }
      &--add-btn {
        background-color: vars.$thirdColor;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      color: vars.$fourthColor;
      }
      &--avatar {
        position: relative;
      }
      &--edit-photo {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 70%;
        top: 0%;
      }
      &--edit-age, &--edit-city, &--edit-email, &--edit-name, &--edit-description, &--edit-instruments, &--edit-styles {
        background-color: transparent;
        border: none;
      }
    }
    &__instrument {
      color: vars.$fourthColor;
      &--description {
        margin: 1rem auto;
        font-weight: bold;
      }
      &__tag {
        background-color: vars.$thirdColor;
        display: inline-block;
        padding: 0.3rem;
        margin: 0.3rem 0.3rem 0.3rem 0;
        border-radius: vars.$borderRadius;
        &--name {
          padding-right: 0.3rem;
        }
        &--level {
          background-color: vars.$fourthColor;
          color: vars.$thirdColor;
          font-size: 0.8rem;
          padding: 0.2rem;
          border-radius: vars.$borderRadius;
        }
      }
    }
    &__style {
      color: vars.$fourthColor;
      &--description {
        margin: 1rem 0;
        font-weight: bold;
      }
      &__tag {
        background-color: vars.$thirdColor;
        display: inline-block;
        padding: 0.3rem;
        margin: 0.3rem 0.3rem 0.3rem 0;
        border-radius: vars.$borderRadius;
      }
    }
    &__friend {
      background-color: vars.$firstColor;
      color: vars.$fourthColor;
      margin: 0 1rem;
      padding: .5em 1em;
      border-radius: vars.$borderRadius;

      &--description {
        margin: 1rem 0;
        font-weight: bold;
        color: vars.$fourthColor;
      }
      &--picture {
        width:75px;
        height: 75px;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }
    }
    .user__friends {
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin: 2rem 0;
    } 
}

.edit {
  &__password {
    &--btn {
      background-color: vars.$thirdColor;
      border: none;
      border-radius: vars.$borderRadius;
      color: vars.$fourthColor;
      padding: 1rem;
      margin: 1rem;
    }
    &__form {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__button{
        width: 80%;
        background-color: vars.$thirdColor;
        border: none;
        border-radius: vars.$borderRadius;
        color: vars.$fourthColor;
        padding: 1rem;

      }
    }
  }

}

.fa-pen, .fa-times-circle {
  color: #1DA1F2;
  background-color: vars.$firstColor;
  padding: .5rem;
  border-radius: 50%;
}
