@use 'src/styles/vars';

@media screen and (max-width: 700px) {
  .notifications{
    &__container{
        position: absolute;
        display: block;
        width: 90%;
        height: 250px;
        margin: 0 auto;
        top: 15%;
        left: 0;
        right: 0;
        z-index: 100;
        overflow-y: scroll;
        background-color: vars.$fourthColor;
        transition: 0.5s ease-in-out;
        border-radius: 7px;
    }
    &__ul{
        padding: .7rem 1rem;
    }
    &__li{
        padding: 0.7rem 0.3rem;
        border-bottom: 1px solid vars.$secondColor;
    }
    &__isHidden{
        top: -100%;
    }
  }
}

@media screen and (min-width: 700px) {
  .notifications{
    &__container{
        position: absolute;
        display: block;
        width: 30%;
        height: 300px;
        top: 10%;
        left: 40%;
        z-index: 1;
        overflow-y: scroll;
        background-color: vars.$fourthColor;
        transition: 0.5s ease-in-out;
        border-radius: 7px;
    }
    &__ul{
      padding: .7rem 1rem;
    }
    &__li{
      padding: 0.7rem 0.3rem;
        border-bottom: 1px solid vars.$secondColor;
    }
    &__isHidden{
        top: -100%;
    }
  }
}

.close-menu-btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: none;
  appearance: none;
  position: absolute;
  top: 20px;
  right: 20px;
  color: vars.$thirdColor;
  z-index: 1;
}
