@use 'src/styles/vars';

.footer {
    width: 100%;
    height: 75px;
    border-top: 1px solid vars.$thirdColor;
    background-color: vars.$firstColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__nav {
      display: flex;
      justify-content: flex-end;
      &--button {
        background-color: vars.$thirdColor;
        color: vars.$fourthColor;
        padding: 7px;
        border-radius: vars.$borderRadius;
        list-style: none;
        margin-right: 1rem;
    }
    }
}
