@use 'src/styles/vars';

// MOBILE 
@media screen and (max-width: 700px) {
  .footer {
    margin-top: 20%;
    width: 100%;
    padding: 1rem;
    height: 75px;
    border-top: 1px solid vars.$thirdColor;
    background-color: vars.$firstColor;
    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      &--button {
        background-color: vars.$thirdColor;
        color: vars.$fourthColor;
        padding: 10px;
        border-radius: vars.$borderRadius;
        margin: 20px 15px 0px 15px;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 700px) {
  .footer {
    width: 100%;
    padding: 1rem;
    margin-top: 5%;
    border-top: 1px solid vars.$thirdColor;
    background-color: vars.$firstColor;

    &__nav {
      display: flex;
      justify-content: flex-end;
      &--button {
        background-color: vars.$thirdColor;
        color: vars.$fourthColor;
        padding: 7px;
        border-radius: vars.$borderRadius;
        margin: 15px 30px 20px 15px;
        list-style: none;
    }
    }
}
}

