@use 'src/styles/vars';

// MOBILE 
@media screen and (max-width: 700px) {
  .footer {
    height: 75px;
    position: relative;
    bottom: 0;
    border-top: 1px solid vars.$thirdColor;
    background-color: vars.$firstColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__nav {
      display: flex;
      flex-direction: row;
      &--button {
        background-color: vars.$thirdColor;
        color: vars.$fourthColor;
        padding: .5rem;
        border-radius: vars.$borderRadius;
        margin-right: 20px;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 700px) {
  .footer {
    height: 75px;
    position: relative;
    bottom: 0;
    border-top: 1px solid vars.$thirdColor;
    background-color: vars.$firstColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__nav {
      display: flex;
      justify-content: flex-end;
      &--button {
        background-color: vars.$thirdColor;
        color: vars.$fourthColor;
        padding: 7px;
        border-radius: vars.$borderRadius;
        list-style: none;
        margin-right: 2rem;
    }
    }
}
}

