@use 'src/styles/vars';

@media screen and (min-width: 750px) {
  .desktop__nav {
    width: auto;
    display: flex;
  }
  .desktop__nav-link {
    padding: 0 2rem;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
    color: vars.$fourthColor;
  }
}

@media screen and (max-width: 700px) {
  .desktop__nav {
    display: none;
  }
}
